* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(3, 3, 3);
  background-color: #b1b1b1fa;
}

.navbar-container {
  background-color: #277070;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.d-flex-center {
  display: flex;
  justify-content: center;
}
